<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>StructureImEx</name>
        <type>plugin</type>
        <creationDate>2018-12-18</creationDate>
        <last_update>2019-02-26</last_update>
        <author>Tõnis Ormisson</author>
        <authorUrl>https://andmemasin.eu</authorUrl>
        <license>MIT</license>
        <version>0.7.1</version>
        <description><![CDATA[Core: Connect to external API]]></description>
    </metadata>

    <compatibility>
        <version>3.0</version>
    </compatibility>
</config>
