<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>StructureImEx</name>
        <type>plugin</type>
        <creationDate>2018-12-18</creationDate>
        <last_update>2025-06-19</last_update>
        <author>Tõnis Ormisson</author>
        <authorUrl>https://andmemasin.eu</authorUrl>
        <license>MIT</license>
        <version>2.0.0</version>
        <description>Survey logic import/export</description>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>5.0</version>
        <version>6.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>

</config>
