includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - src
    scanDirectories:
        - vendor
    excludePaths:
        - vendor/yiisoft/yii/framework/yiilite.php
        - src/import/ImportStructure.php
