includes:
	- phpstan-baseline.neon
parameters:
    level: 2
    paths:
        - src
    scanDirectories:
        - vendor
        - vendor/yiisoft/yii/framework
    excludePaths:
        - vendor/yiisoft/yii/framework/yiilite.php
